.step-title {
    font-weight: 700;
    color: #0247A8;
    font-size: 32px;
    margin-bottom: 24px !important;
    cursor: pointer;
    display: inline;
}


.drop-arrow {
    display: inline;
    font-size: 15px;
    vertical-align: text-top;
    color: #0247A8;
    cursor: pointer;
}

