.splash-row {

    margin-top: 100px;
}

.mrdrill-brand {
    font-size: 30px;
    font-weight: 900;
    color: #0247A8 !important;
    display: inline;
}

.moment {
    font-size: 25px;
    color: #01081c;
    font-weight: 600;
}
