.expanded {
    max-width: none !important;
    margin: 0 !important;
}


.custom-map-modal .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 100%;
}
.custom-map-modal .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}


.colore-modal-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 7;
    background-color: white;
}
