figcaption{
    font-weight: 500;
    color: #0d47a1;
    font-size: 13px;
}


.dimensione{
    width: 125px;
    height: 125px;
    padding: 10px;
}


.scelta-colore {
    transition: box-shadow 0.4s;
    cursor: pointer;
    padding: 5px;
}

.scelta-colore-selected {
    /*border: 2px solid white;*/
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.scelta-colore:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.scelta-colore-selezionato {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
