.map-data {
    width: 100%;
}

.data-card{
    border: 0;
    border-radius: 0;
    background-color: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
}

.zone-color {
    height: 15px;
    width: 25%;
    display: inline;
    margin-right: 10px;
}

.red {
    background-color: #b32411;
}

.orange {
    background-color: #ff6600;
}

.yellow {
    background-color: #e7a602;
}

.azure {
    background-color: #69b0c6;
}

.violet {
    background-color: #4b84b0;
}

.blue {
    background-color: #044ad7;
}

.green {
    background-color: #3c832b;
}

.zone-row {
    margin-bottom: 10px;
    color: #b3b2b2;
    line-height: 15px; font-size: 13px;

}
