.fieldset-content {
    padding: 10px;
}

.detected {
    margin: 2px 0;
    color: white;
    text-align: center;
}

/*.detected:hover {*/
/*    background-color: #3232ee;*/
/*    color: #f9f9f9;*/
/*}*/

.add-button {
    cursor: pointer;
    display: inline;
    margin-left: 10px;
}

