.be-cornerlabel {
    display: block;
    font-size: 0.875rem;
    line-height: 1.5;
    font-weight: 700;
    z-index: 15;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    position: fixed;
    left: 100%;
    top: 0;
    padding: 0.5em 2em;
    background-color: #dea80b;
    color: black;
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: translateY(-100%) translateX(-70.71%) rotate(45deg);
    -ms-transform: translateY(-100%) translateX(-70.71%) rotate(45deg);
    transform: translateY(-100%) translateX(-70.71%) rotate(45deg);
    white-space: nowrap;
    border: 1px solid #d2d9e1;
}


