.symbol {
    font-size: 24px;
}
.darked-title  {
    background-color: rgb(226, 235, 250);
}

.darked {
    background-color: rgb(238, 242, 247);
}

.title {
    color: #0d47a1;
    font-weight: 600;
}

.choices {
    color: #0d47a1;
    font-weight: 600;
}


.proposta-action {
    cursor: pointer;
}


.proposta-action > button {
    width: 100%;
}

.action-icon {
    float: left;
    color: white;
}

.item-padding {
    padding: 20px;
}

.centered {
    text-align: center;
}

.item-col-padding {
    padding-left: 2px;
    padding-right: 2px;
}

.edit-proposta-button {
    color: #0d47a1;
    float: right;
    cursor: pointer;
}
