.supporti-action {
    width: 100%;
    border: 0;
}

.green {
    background-color: green;
}

.yellow {
    background-color: #ffaa00;
}

.orange {
    background-color: #d96206;
}

.fucia {
    background-color: #c8059e;
}

.blue {
    background-color: #0d47a1;
}

.support-title {
    color: #0d47a1;
    font-weight: 600;
}

.services {
    font-size: 40px;
    color: #0d47a1;
    cursor: pointer;
}
