.room-panel {
    font-size: 12px;
    margin-bottom: 8px;
    z-index: 1000;
    border-radius: 1px;
}


.room-panel-header {
    /*background-color: rgb(220 220 220);*/
    background-color: #0247A8;
    height: 48px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-left: 3px solid rgb(0, 92, 255);
    padding: 0px 10px 0px 0px;
    transition: all 0.4s ease 0s;
}

.room-panel-content {
    display: flex;
    color: rgb(160, 167, 180);
}

.room-panel-actions {
    display: flex;
}

.room-panel-drag-handle {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    opacity: 0;
    z-index: 1000;
}

.room-panel-drag-handle:hover {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    opacity: 1;
    z-index: 1000;
    cursor: grab;
}


.room-title {
    margin-left: 4px;
}

.circle {
    width: 25px;
    height: 25px;
    line-height: 20px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: #000
}

.room-title-editor {
    -webkit-box-align: center;
    align-items: center;
    caret-color: rgb(211, 216, 224);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow-wrap: normal;
    pointer-events: all;
    opacity: 1;
    /*color: rgb(160, 167, 180);*/
    color: white;
    font-size: 16px;
    letter-spacing: 0.43px;
    line-height: 18px;
    /*height: 24px;*/
    font-weight: 600;
    margin-left: -4px;
    background-color: transparent;
    border-radius: 2px;
    outline: none;
    overflow: hidden;
    padding: 4px 10px 4px 4px;
    transition: all 0.4s ease 0s;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
}

.room-action {
    margin-left: 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: white;
}


.room-panel-config{
    position: relative;
    margin-top: 12px;
}


.room-config-group {
    padding-left: 18px;
    margin-bottom: 12px;
}

.room-config-group-header{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 12px;
}


.room-config-group-label{
    height: 20px;
    line-height: 20px;
    margin-left: -12px;
    padding-left: 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-left: 2px solid rgb(106, 116, 133);
}

.room-config-group-label span {
    color: rgb(160, 167, 180);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-transform: capitalize;
}

.room-config-group-action{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(160, 167, 180);
}

.room-config-group-content {

}


.side-panel-section {
    margin-bottom: 12px;
    opacity: 1;
    pointer-events: all;
}


.item-selector-dropdown{
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(220 220 220);
    caret-color: rgb(211, 216, 224);
    color: rgb(160, 167, 180);
    display: flex;
    font-size: 11px;
    font-weight: 500;
    height: 34px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow-wrap: normal;
    pointer-events: all;
    opacity: 1;
    border-image: initial;
    border-radius: 2px;
    outline: none;
    overflow: hidden;
    transition: all 0.4s ease 0s;
}

.item-selector .item-selector-dropdown {
    padding: 4px 10px 4px 2px;
}


.item-selector-dropdown-value {
    color: rgb(160, 167, 180);
    overflow: hidden;
}

.layer-type-selector-item-inner{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}


.room-type-selector-item-label{
    text-transform: capitalize;
    font-size: 12px;
    text-align: center;
    color: rgb(106, 116, 133);
}


.room-type-selector-item-icon{
    color: rgb(255, 255, 255);
    background-size: 28px 28px;
    margin-right: 12px;
    display: flex;
    background-color: #0247a8;
    margin-left: 2px;
}

.dropdown-list {
    width: 100%;
    left: 0px;
    z-index: 100;
    position: absolute;
    bottom: auto;
    margin-top: 4px;
    margin-bottom: auto;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}


.typeahead {
    display: flex;
    flex-direction: column;
    background-color: rgb(58, 65, 76);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 12px 0px;
}


.search-container {
    padding: 8px;
}

.typeahead-input{
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
    caret-color: rgb(211, 216, 224);
    display: flex;
    font-size: 11px;
    font-weight: 500;
    height: 34px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow-wrap: normal;
    pointer-events: all;
    opacity: 1;
    color: rgb(160, 167, 180);
    background-color: rgb(36, 39, 48);
    border-radius: 2px;
    outline: none;
    overflow: hidden;
    padding: 4px 10px;
    transition: all 0.4s ease 0s;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(36, 39, 48);
    border-image: initial;
}


.typeahead-icon-search {
    position: absolute;
    right: 15px;
    top: 14px;
    color: rgb(106, 116, 133);

}


.list-selector {
    background-color: rgb(58, 65, 76);
    overflow-y: auto;
    max-height: 280px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 12px 0px;
    border-top: 1px solid rgb(36, 39, 48);
    border-radius: 2px;
}

.list-item {
    box-sizing: border-box;
    font-size: 11px;
    font-weight: 500;
    white-space: nowrap;
    padding: 3px 9px;
}


.list-item-anchor {
    color: rgb(160, 167, 180);
    padding-left: 3px;
}

.room-item-row {
    flex-grow: 1;
}


.point-layer-icon {
    width: 28px !important;
    height: 28px;
}

.styled-select select {
    background: transparent;
    width: 150px;
    font-size: 15px;
}
.styled-select {
    font-size: 15px;
    border: 0;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
