.mapboxgl-ctrl-group{
    background-color: rgba(0,0,0,0.7) !important;
}

.mapboxgl-ctrl-group button {
    color: white;
    width: 50px !important;
    height: 50px !important;
}

.mapboxgl-ctrl-group button:hover {
    background-color: rgba(0,0,0,1) !important;
    color: white;
    width: 50px !important;
    height: 50px !important;
}

.mapboxgl-ctrl-group button+button {
    border-top: 0 solid #ddd !important;
}
